body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2.title {
  font-weight: bold;
  color: black;
}
#map {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
}
.menu-header {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: fixed;
  top: 15px;
  left: 55px;
  z-index: 10;
}
.menu-header .device-container {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
.menu-header .date-container {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);
}
.menu-header .device-container .device-label {
  font-weight: bold;
  padding-right: 10px;
}
.menu-header .type-container {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);
}
.menu-header .date-container .date-label {
  font-weight: bold;
  padding-right: 10px;
}

.menu-header .view-location {
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
}
.menu-header .view-location:hover {
  background-color: rgb(234, 233, 233);
}

.menu-header .type-map-container {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);
}

.menu-header .type-view-container {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);
}
.image-type {
  width: auto;
  height: 17px;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  max-width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 6px 8px;
  border-radius: 4px;

  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
